
Schema DDL (run this SQL to create tables):

CREATE TABLE "accounts" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "account_number" VARCHAR(20) NOT NULL,
  "account_type" VARCHAR(50) NOT NULL,
  "owner_name" VARCHAR(255) NOT NULL,
  "email" VARCHAR(255) NOT NULL,
  "phone" VARCHAR(50),
  "balance_cents" BIGINT NOT NULL DEFAULT 0,
  "currency" VARCHAR(3) NOT NULL DEFAULT 'USD'::character varying,
  "status" VARCHAR(50) NOT NULL DEFAULT 'active'::character varying,
  "routing_number" VARCHAR(20),
  "opened_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  "closed_at" TIMESTAMP WITHOUT TIME ZONE,
  PRIMARY KEY ("id")
);

CREATE TABLE "teachers" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "email" VARCHAR(255) NOT NULL,
  "first_name" VARCHAR(100) NOT NULL,
  "last_name" VARCHAR(100) NOT NULL,
  "phone" VARCHAR(50),
  "department" VARCHAR(100),
  "hire_date" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  PRIMARY KEY ("id")
);

CREATE TABLE "classes" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "name" VARCHAR(255) NOT NULL,
  "subject" VARCHAR(100) NOT NULL,
  "teacher_id" UUID NOT NULL,
  "room_number" VARCHAR(20),
  "period" INTEGER NOT NULL,
  "school_year" VARCHAR(20) NOT NULL DEFAULT '2024-2025'::character varying,
  PRIMARY KEY ("id"),
  FOREIGN KEY ("teacher_id") REFERENCES "teachers" ("id")
);

CREATE TABLE "students" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "email" VARCHAR(255) NOT NULL,
  "first_name" VARCHAR(100) NOT NULL,
  "last_name" VARCHAR(100) NOT NULL,
  "grade_level" INTEGER NOT NULL,
  "date_of_birth" DATE,
  "gender" VARCHAR(20),
  "enrolled_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  PRIMARY KEY ("id")
);

CREATE TABLE "attendance" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "student_id" UUID NOT NULL,
  "class_id" UUID NOT NULL,
  "date" DATE NOT NULL,
  "status" VARCHAR(20) NOT NULL DEFAULT 'present'::character varying,
  PRIMARY KEY ("id"),
  FOREIGN KEY ("class_id") REFERENCES "classes" ("id"),
  FOREIGN KEY ("student_id") REFERENCES "students" ("id")
);

CREATE TABLE "patients" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "mrn" VARCHAR(20) NOT NULL,
  "first_name" VARCHAR(100) NOT NULL,
  "last_name" VARCHAR(100) NOT NULL,
  "date_of_birth" DATE NOT NULL,
  "gender" VARCHAR(20) NOT NULL,
  "blood_type" VARCHAR(5),
  "email" VARCHAR(255),
  "phone" VARCHAR(50),
  "insurance_provider" VARCHAR(255),
  "registered_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  PRIMARY KEY ("id")
);

CREATE TABLE "providers" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "npi" VARCHAR(20) NOT NULL,
  "first_name" VARCHAR(100) NOT NULL,
  "last_name" VARCHAR(100) NOT NULL,
  "specialty" VARCHAR(100) NOT NULL,
  "department" VARCHAR(100),
  "email" VARCHAR(255) NOT NULL,
  "active" BOOLEAN NOT NULL DEFAULT true,
  PRIMARY KEY ("id")
);

CREATE TABLE "encounters" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "patient_id" UUID NOT NULL,
  "provider_id" UUID NOT NULL,
  "encounter_type" VARCHAR(50) NOT NULL,
  "status" VARCHAR(50) NOT NULL DEFAULT 'scheduled'::character varying,
  "chief_complaint" TEXT,
  "notes" TEXT,
  "scheduled_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  "checked_in_at" TIMESTAMP WITHOUT TIME ZONE,
  "discharged_at" TIMESTAMP WITHOUT TIME ZONE,
  PRIMARY KEY ("id"),
  FOREIGN KEY ("patient_id") REFERENCES "patients" ("id"),
  FOREIGN KEY ("provider_id") REFERENCES "providers" ("id")
);

CREATE TABLE "billing" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "encounter_id" UUID NOT NULL,
  "cpt_code" VARCHAR(20) NOT NULL,
  "description" VARCHAR(255) NOT NULL,
  "amount_cents" INTEGER NOT NULL,
  "insurance_covered_cents" INTEGER NOT NULL DEFAULT 0,
  "patient_responsibility_cents" INTEGER NOT NULL DEFAULT 0,
  "status" VARCHAR(50) NOT NULL DEFAULT 'pending'::character varying,
  "billed_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  "paid_at" TIMESTAMP WITHOUT TIME ZONE,
  PRIMARY KEY ("id"),
  FOREIGN KEY ("encounter_id") REFERENCES "encounters" ("id")
);

CREATE TABLE "categories" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "name" VARCHAR(100) NOT NULL,
  "slug" VARCHAR(100) NOT NULL,
  "parent_id" UUID,
  PRIMARY KEY ("id"),
  FOREIGN KEY ("parent_id") REFERENCES "categories" ("id")
);

CREATE TABLE "transactions" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "account_id" UUID NOT NULL,
  "transaction_type" VARCHAR(50) NOT NULL,
  "amount_cents" BIGINT NOT NULL,
  "fee_cents" INTEGER NOT NULL DEFAULT 0,
  "currency" VARCHAR(3) NOT NULL DEFAULT 'USD'::character varying,
  "description" VARCHAR(255),
  "counterparty_name" VARCHAR(255),
  "category" VARCHAR(100),
  "status" VARCHAR(50) NOT NULL DEFAULT 'completed'::character varying,
  "reference_id" VARCHAR(100),
  "created_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  PRIMARY KEY ("id"),
  FOREIGN KEY ("account_id") REFERENCES "accounts" ("id")
);

CREATE TABLE "chargebacks" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "transaction_id" UUID NOT NULL,
  "reason" VARCHAR(255) NOT NULL,
  "amount_cents" BIGINT NOT NULL,
  "status" VARCHAR(50) NOT NULL DEFAULT 'open'::character varying,
  "filed_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  "resolved_at" TIMESTAMP WITHOUT TIME ZONE,
  PRIMARY KEY ("id"),
  FOREIGN KEY ("transaction_id") REFERENCES "transactions" ("id")
);

CREATE TABLE "customers" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "email" VARCHAR(255) NOT NULL,
  "first_name" VARCHAR(100) NOT NULL,
  "last_name" VARCHAR(100) NOT NULL,
  "phone" VARCHAR(50),
  "city" VARCHAR(100),
  "country" VARCHAR(100) NOT NULL DEFAULT 'US'::character varying,
  "lifetime_value_cents" INTEGER NOT NULL DEFAULT 0,
  "created_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  PRIMARY KEY ("id")
);

CREATE TABLE "diagnoses" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "encounter_id" UUID NOT NULL,
  "icd_code" VARCHAR(20) NOT NULL,
  "description" VARCHAR(255) NOT NULL,
  "diagnosis_type" VARCHAR(50) NOT NULL DEFAULT 'primary'::character varying,
  "diagnosed_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  PRIMARY KEY ("id"),
  FOREIGN KEY ("encounter_id") REFERENCES "encounters" ("id")
);

CREATE TABLE "enrollments" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "student_id" UUID NOT NULL,
  "class_id" UUID NOT NULL,
  "enrolled_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  "status" VARCHAR(50) NOT NULL DEFAULT 'active'::character varying,
  PRIMARY KEY ("id"),
  FOREIGN KEY ("class_id") REFERENCES "classes" ("id"),
  FOREIGN KEY ("student_id") REFERENCES "students" ("id")
);

CREATE TABLE "fraud_alerts" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "transaction_id" UUID NOT NULL,
  "alert_type" VARCHAR(100) NOT NULL,
  "severity" VARCHAR(20) NOT NULL DEFAULT 'medium'::character varying,
  "status" VARCHAR(50) NOT NULL DEFAULT 'open'::character varying,
  "description" TEXT,
  "created_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  "resolved_at" TIMESTAMP WITHOUT TIME ZONE,
  PRIMARY KEY ("id"),
  FOREIGN KEY ("transaction_id") REFERENCES "transactions" ("id")
);

CREATE TABLE "grades" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "enrollment_id" UUID NOT NULL,
  "assignment_name" VARCHAR(255) NOT NULL,
  "assignment_type" VARCHAR(50) NOT NULL DEFAULT 'homework'::character varying,
  "score" NUMERIC NOT NULL,
  "max_score" NUMERIC NOT NULL DEFAULT 100,
  "graded_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  PRIMARY KEY ("id"),
  FOREIGN KEY ("enrollment_id") REFERENCES "enrollments" ("id")
);

CREATE TABLE "organizations" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "name" VARCHAR(255) NOT NULL,
  "slug" VARCHAR(100) NOT NULL,
  "industry" VARCHAR(100),
  "employee_count" INTEGER,
  "created_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  PRIMARY KEY ("id")
);

CREATE TABLE "plans" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "name" VARCHAR(100) NOT NULL,
  "tier" VARCHAR(50) NOT NULL DEFAULT 'starter'::character varying,
  "price_cents" INTEGER NOT NULL,
  "interval" VARCHAR(20) NOT NULL DEFAULT 'monthly'::character varying,
  "trial_days" INTEGER NOT NULL DEFAULT 14,
  "is_active" BOOLEAN NOT NULL DEFAULT true,
  PRIMARY KEY ("id")
);

CREATE TABLE "subscriptions" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "org_id" UUID NOT NULL,
  "plan_id" UUID NOT NULL,
  "status" VARCHAR(50) NOT NULL DEFAULT 'active'::character varying,
  "trial_ends_at" TIMESTAMP WITHOUT TIME ZONE,
  "current_period_start" TIMESTAMP WITHOUT TIME ZONE,
  "current_period_end" TIMESTAMP WITHOUT TIME ZONE,
  "started_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  "canceled_at" TIMESTAMP WITHOUT TIME ZONE,
  PRIMARY KEY ("id"),
  FOREIGN KEY ("org_id") REFERENCES "organizations" ("id"),
  FOREIGN KEY ("plan_id") REFERENCES "plans" ("id")
);

CREATE TABLE "invoices" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "subscription_id" UUID NOT NULL,
  "amount_cents" INTEGER NOT NULL,
  "currency" VARCHAR(3) NOT NULL DEFAULT 'USD'::character varying,
  "status" VARCHAR(50) NOT NULL DEFAULT 'paid'::character varying,
  "due_date" TIMESTAMP WITHOUT TIME ZONE NOT NULL,
  "paid_at" TIMESTAMP WITHOUT TIME ZONE,
  "created_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  PRIMARY KEY ("id"),
  FOREIGN KEY ("subscription_id") REFERENCES "subscriptions" ("id")
);

CREATE TABLE "medications" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "encounter_id" UUID NOT NULL,
  "medication_name" VARCHAR(255) NOT NULL,
  "dosage" VARCHAR(100) NOT NULL,
  "frequency" VARCHAR(100) NOT NULL,
  "route" VARCHAR(50) NOT NULL DEFAULT 'oral'::character varying,
  "prescribed_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  "end_date" TIMESTAMP WITHOUT TIME ZONE,
  "status" VARCHAR(50) NOT NULL DEFAULT 'active'::character varying,
  PRIMARY KEY ("id"),
  FOREIGN KEY ("encounter_id") REFERENCES "encounters" ("id")
);

CREATE TABLE "orders" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "customer_id" UUID NOT NULL,
  "status" VARCHAR(50) NOT NULL DEFAULT 'pending'::character varying,
  "total_cents" INTEGER NOT NULL,
  "discount_cents" INTEGER NOT NULL DEFAULT 0,
  "currency" VARCHAR(3) NOT NULL DEFAULT 'USD'::character varying,
  "ordered_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  "shipped_at" TIMESTAMP WITHOUT TIME ZONE,
  "delivered_at" TIMESTAMP WITHOUT TIME ZONE,
  PRIMARY KEY ("id"),
  FOREIGN KEY ("customer_id") REFERENCES "customers" ("id")
);

CREATE TABLE "products" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "name" VARCHAR(255) NOT NULL,
  "description" TEXT,
  "category_id" UUID,
  "price_cents" INTEGER NOT NULL,
  "compare_at_price_cents" INTEGER,
  "brand" VARCHAR(100),
  "sku" VARCHAR(50) NOT NULL,
  "rating" NUMERIC DEFAULT 0,
  "review_count" INTEGER DEFAULT 0,
  "in_stock" BOOLEAN NOT NULL DEFAULT true,
  "created_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  PRIMARY KEY ("id"),
  FOREIGN KEY ("category_id") REFERENCES "categories" ("id")
);

CREATE TABLE "order_items" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "order_id" UUID NOT NULL,
  "product_id" UUID NOT NULL,
  "quantity" INTEGER NOT NULL DEFAULT 1,
  "unit_price_cents" INTEGER NOT NULL,
  PRIMARY KEY ("id"),
  FOREIGN KEY ("order_id") REFERENCES "orders" ("id"),
  FOREIGN KEY ("product_id") REFERENCES "products" ("id")
);

CREATE TABLE "payments" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "invoice_id" UUID NOT NULL,
  "amount_cents" INTEGER NOT NULL,
  "currency" VARCHAR(3) NOT NULL DEFAULT 'USD'::character varying,
  "payment_method" VARCHAR(50) NOT NULL DEFAULT 'card'::character varying,
  "status" VARCHAR(50) NOT NULL DEFAULT 'succeeded'::character varying,
  "failure_reason" VARCHAR(255),
  "paid_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  PRIMARY KEY ("id"),
  FOREIGN KEY ("invoice_id") REFERENCES "invoices" ("id")
);

CREATE TABLE "reviews" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "product_id" UUID NOT NULL,
  "customer_id" UUID NOT NULL,
  "rating" INTEGER NOT NULL,
  "title" VARCHAR(255),
  "body" TEXT,
  "verified_purchase" BOOLEAN NOT NULL DEFAULT false,
  "created_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  PRIMARY KEY ("id"),
  FOREIGN KEY ("customer_id") REFERENCES "customers" ("id"),
  FOREIGN KEY ("product_id") REFERENCES "products" ("id")
);

CREATE TABLE "settlements" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "transaction_id" UUID NOT NULL,
  "settlement_type" VARCHAR(50) NOT NULL,
  "amount_cents" BIGINT NOT NULL,
  "status" VARCHAR(50) NOT NULL DEFAULT 'pending'::character varying,
  "settled_at" TIMESTAMP WITHOUT TIME ZONE,
  "created_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  PRIMARY KEY ("id"),
  FOREIGN KEY ("transaction_id") REFERENCES "transactions" ("id")
);

CREATE TABLE "users" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "org_id" UUID,
  "email" VARCHAR(255) NOT NULL,
  "full_name" VARCHAR(255) NOT NULL,
  "role" VARCHAR(50) NOT NULL DEFAULT 'member'::character varying,
  "status" VARCHAR(50) NOT NULL DEFAULT 'active'::character varying,
  "last_login_at" TIMESTAMP WITHOUT TIME ZONE,
  "created_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  PRIMARY KEY ("id"),
  FOREIGN KEY ("org_id") REFERENCES "organizations" ("id")
);

CREATE TABLE "vitals" (
  "id" UUID NOT NULL DEFAULT gen_random_uuid(),
  "encounter_id" UUID NOT NULL,
  "systolic_bp" INTEGER,
  "diastolic_bp" INTEGER,
  "heart_rate" INTEGER,
  "temperature_f" NUMERIC,
  "weight_lbs" NUMERIC,
  "height_inches" INTEGER,
  "recorded_at" TIMESTAMP WITHOUT TIME ZONE NOT NULL DEFAULT now(),
  PRIMARY KEY ("id"),
  FOREIGN KEY ("encounter_id") REFERENCES "encounters" ("id")
);

